.nav {
  grid-area: n;
  background: rgb(84, 84, 84);
  color: white;
}

.nav ul {
  list-style: none;
}

.nav li {
  margin: 10px;
}

.nav li a {
  color: white;
  padding: 10px;
}
